@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oxygen+Mono&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

html body {
  margin: 0;
  min-height: 100vh;
  background-color: #FAFAFA;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.see-through {
  opacity: 0.5;
}
